

{{#if type}}
        <div class="grid_3 grid_5 agileinfo container">
            <ol class="breadcrumb">
                <li><a href="/{{type}}s">Home</a></li>
                <li><a class="" href="/edit-pwd">Change password</a></li>
                <li>
                    <form action="/logout" method="post">
                        <button class="btn btn-primary" type="submit">Logout</button>
                    </form>
                </li>
            </ol>
        </div>
{{!-- 
    {{ else }}
        <div class="grid_3 grid_5 agileinfo container">
            <ol class="breadcrumb">
                <li><a href="/builders">Home</a></li>
                <li><a class="" href="/edit-pwd">Change password</a></li>
                <li>
                    <form action="/logout" method="post">
                        <button class="btn btn-primary" type="submit">Logout</button>
                    </form>
                </li>
            </ol>
        </div> --}}

{{/if}}
<div class="w3ls-section contact">
    <div class="container">

        <div class="col-md-10 w3l_contact_form">
            <h4>Change your password </h4>
            <form action="/edit-pwd" method="post">

                {{#if msg}}

                {{!-- <div style="color:red" class="well well-sm well-info">{{msg}}</div> --}}
                <div class="alert alert-info" role="alert">
                    <strong>Heads up!</strong> {{msg}}.
                </div>
                {{/if}}


                <input type="password" name="oldPwd" value="" placeholder="Old Password" required=""> <br>
                <input type="password" name="newPwd" value="" placeholder="New Password" required=""> <br>

                <input type="password" name="confirmPwd" value="" placeholder="Confirm Password" required=""> <br> <br>

                <input type="submit" value="Change">  <br> <br>
            </form>
        </div>


    </div>
</div>
</div>

<script src="js/bootstrap.js"></script>

</body>

</html>