</div>
<!-- contact -->
<div class="w3ls-section contact">
    <div class="container">

        <div class="col-md-10 w3l_contact_form">
            <h4>Login as a Material Vendor or a Building Technician </h4>
            <form action="/login" method="post">

            {{#if err}}

                <div class="alert alert-warning" role="alert">
                    <strong>Heads up!</strong> {{err}}.
                </div>
            {{/if}}
                <input type="email" name="Email" value="" placeholder="Email" required="">
            
                
                <input type="password" name="Password" value="" placeholder="Password" required=""> <br> <br>

                <input type="submit" value="Login"> <a class="btn btn-info" href="/reset">Forgot Password</a> <br> <br>
            </form>
        </div>

        
    </div>
</div>
</div>

<script src="js/bootstrap.js"></script>

</body>

</html>