
	</div>	
	<!-- about -->
	<div class=" w3ls-section" id="inner-about">
		<div class="container">
			<h3 class="h3-w3l">about us</h3>
			<!-- about bottom-->
			<div class="about-bottom">
				<div class="col-md-6 about-w3right">
					
				</div>
				<div class="col-md-6 about-w3left"> 
					<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
								<h5 class="panel-title asd">
									<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
										<span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Say No to Quack Technicians
									</a>
								</h5>
							</div>
							<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
								<div class="panel-body panel_text">
									BTech stand to promote professional Building Technician, Connect you with certified and qualified Building Technician.</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingTwo">
								<h5 class="panel-title asd">
									<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										<span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Reliable Material Vendor
									</a>
								</h5>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false" style="height: 0px;">
								<div class="panel-body panel_text">
									We Link you up with quality Material Vendors who are reliable and deliver good and quality building materials either for
									your Technician or you as a client.</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingThree">
								<h5 class="panel-title asd">
									<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
										<span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Our Vision
									</a>
								</h5>
							</div>
							<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false" style="height: 0px;">
								<div class="panel-body panel_text">
									Our vision is to recognise the unique value and creative potential in our building Engineers and entrepreneur.</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingFour">
								<h5 class="panel-title asd">
									<a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
										<span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>About statement 
									</a>
								</h5>
							</div>
							<div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour" aria-expanded="true">
								<div class="panel-body panel_text">
									A program that will be featuring legend in the building industry and to advertise building materials to the need of
									professional Engineers.</p></div>
							</div>
						</div>
					</div> 
				</div> 
				<div class="clearfix"> </div>
			</div>		
		</div>	
			<!-- //about-bottom -->
	</div>
	<!-- //about -->
	<!-- //Awards-->
	<div class="awards-agileinfo  w3ls-section">
		<div class="awardsw3-agileits banner-agileinfo">
			<div class="container">
				<div class="w3ls_banner_bottom_grids">
					<div class="col-sm-3 col-xs-3 w3ls_about_guage">
						<h4>Awards</h4>
						<canvas id="gauge1" width="200" height="100"></canvas>
					</div>
					<div class="col-sm-3 col-xs-3 w3ls_about_guage">
						<h4>Followers</h4>
						<canvas id="gauge2" width="200" height="100"></canvas>
					</div>
					<div class="col-sm-3 col-xs-3 w3ls_about_guage">
						<h4>Branches</h4>
						<canvas id="gauge3" width="200" height="100"></canvas>
					</div>
					<div class="col-sm-3 col-xs-3 w3ls_about_guage">
						<h4>Support</h4>
						<canvas id="gauge4" width="200" height="100"></canvas>
					</div>
					<div class="clearfix"> </div>
				</div> 
			</div>
		</div>
		<script src="js/jquery.gauge.js"></script>
		<script>
			$(document).ready(function (){
				$("#gauge1").gauge(70,{color: "#ef3708",unit: " %",type: "halfcircle"});
				$("#gauge2").gauge(70, {color: "#5f48f9", unit: " %",type: "halfcircle"});
				$("#gauge3").gauge(75, {color: "#10b55d",unit: " %",type: "halfcircle"});
				$("#gauge4").gauge(90, {color: "#20c4da",unit: " %",type: "halfcircle"});
			});
		</script> 
	</div>
	<!-- //Awards-->
	<!-- about -->
	<div id="about" class="w3ls-section about"> 
		<div class="container"> 
			<div class="about-agileinfo"> 
				<div class="col-sm-3  about-grids about-grids2">
					<img src="images/g1.jpg" class="img-responsive" alt=""/>
				</div>
				<div class="col-sm-6 about-text">
					<h2>These are the technicians/Engineers involved in building construction</h2>
					<p>Survey Architect, Q/S, Structural Engineer, (M/E, plumber, electrician, HVAC), Automation work, Bricklayer work, pop work, Akuminium work, Furniture work, Iron bender work, welder work .</p>
				</div>
				<div class="col-sm-3 about-grids about-grids2 inner-about-g3">
					<img src="images/g2.jpg" class="img-responsive" alt=""/>
				</div>
				<div class="clearfix"> </div>
			</div>	 			
		</div>	 			
	</div>			
	<!-- //about -->  
	<!-- team -->
	<div id="team" class="w3ls-section team agileits">
		<div class="team-agileinfo">
			<div class="container">  
				<h3 class="h3-w3l">Our Testimonies</h3>
				<div class="team-row agileits-w3layouts">
					<div class="col-md-3 col-xs-6 team-grids">
						<div class="team-agileimg">
							<img class="img-responsive" src="images/t1.jpg" alt="">
							<div class="captn">
								<div class="captn-top">
									<h4>Our testimonies</h4>
									<p>A story building close to completion</p>
								</div> 
								<div class="social-w3lsicon agileinfo-social-grids">
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-rss"></i></a></li> 
									</ul>
								</div> 
							</div>
						</div>
					</div>					
					<div class="col-md-3 col-xs-6 team-grids">
						<div class="team-agileimg">
							<img class="img-responsive" src="images/t2.jpg" alt="">
							<div class="captn">
								<div class="captn-top">
									<h4>Our testimonies</h4>
									<p>A Gas station under construction</p>
								</div>
								<div class="social-w3lsicon agileinfo-social-grids">
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-rss"></i></a></li> 
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-xs-6 team-grids">
						<div class="team-agileimg">
							<img class="img-responsive" src="images/t3.jpg" alt="">
							<div class="captn">
								<div class="captn-top">
									<h4>Story Building</h4>
									<p>Build by professionals</p>
								</div>
								<div class="social-w3lsicon agileinfo-social-grids">
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-rss"></i></a></li> 
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-xs-6 team-grids">
						<div class="team-agileimg">
							<img class="img-responsive" src="images/t4.jpg" alt="">
							<div class="captn">
								<div class="captn-top">
									<h4>Toilet</h4>
									<p>Automatic Urinary bowl</p>
								</div>
								<div class="social-w3lsicon agileinfo-social-grids">
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-rss"></i></a></li> 
									</ul>
								</div> 
							</div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
<!-- //team -->   

	
<!--footer-->

	<script src="js/SmoothScroll.min.js"></script>
	<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
	<!-- //smooth-scrolling-of-move-up -->  
		<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/bootstrap.js"></script>
</body>

</html>